.question-container {
    border: 1px solid #9B9B9B;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.question {
    margin-bottom: 1rem;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.option-item {
    border: 1px solid #EAEAEA;
    padding: 8px;
    border-radius: 2rem;
    cursor: pointer;
}

.option-item:hover {
    background: #28a745;
    color: white;
}
